body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;              /* Cria um espaçamento vertical de 20px entre o quadro e o form */
   
}

.container {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(144, 30, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200%;
    padding-top: 100px;
   

}

hi {
    color: rgb(12, 12, 2);
    margin: 100;
}