body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;          /* Força o corpo a usar 100% da altura da tela */
    margin: 0;              /* Remove margens padrão do navegador */
    gap: 20px;              /* Cria um espaçamento vertical de 20px entre o quadro e o form */
    height: 70%;
    margin: 500;
}

.container {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(144, 30, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    margin: 500;

}

hi {
    color: rgb(12, 12, 2);
    margin: 100;
}